<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: {turbo: false } }) do |f| %>
  <div class="row mt-3"></div>
      <div class="card-flipbook">
        <div class="text-center">
          <h1>Edit Profile</h1>
        </div>
        <form>


          <div class="form-group">
            <label>Student ID</label>
            <div class="field">
              <%= f.text_field :student_id, autofocus: true, :class => "form-control", :placeholder => "Student ID" %>
            </div>
          </div>   

          <div class="form-group">
            <label>First Name</label>
            <div class="field">
              <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label>Middle Name</label>
            <div class="field">
              <%= f.text_field :middle_name, autofocus: true, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <div class="field">
              <%= f.text_field :last_name, autofocus: true, :class => "form-control" %>
            </div>
          </div>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <label>Password</label><i>(leave blank if you don't want to change it)</i><br />
            <div class="field">
              <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Password" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </div>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Confirm Password" %>
            </div>
          </div>

          <div class="form-group">
            <label>Current Password</label>
            <div class="field">
              <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :placeholder => "Current Password" %>
            </div>
          </div>
          <div class="errors"><%= devise_error_messages! %></div>
          <div class="actions">
            <%= f.submit "Update", :class => "btn btn-primary" %>
            <%= link_to "Back to Flipbooks", flipbooks_path, :class => "btn btn-outline-primary" %>
          </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

