<div id="<%= dom_id flipbook %>">
  <p>
    <strong>Title:</strong>
    <%= flipbook.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= flipbook.subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flipbook.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= flipbook.thumbnail %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= flipbook.url %>
  </p>

</div>
