<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="text-center">
    <h1>Login</h1>
    <h6>Enter Email and Password</h6>
  </div>
  <form>
    <div class="form-group">
      <label>Email address</label>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Enter Email" %>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control", :placeholder => "Password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field mt-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <div class="alert-flipbook"><%= alert %></div>
    <div class="actions">
      <div class="d-grid gap-2">
        <%= f.submit "Log In", :class => "btn btn-primary btn-block mb-4" %>
      </div>
    </div>
  </form>

  <%= link_to "New User? Sign up here", new_user_registration_path, :class => "text-black"	%>
  <div class="mt-2">
    <%= link_to "Forgot password", new_user_password_path	, :class => "text-black"	%>
  </div>
  <div class="mt-2">
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => "text-black" %>
  </div>
  <% end %>

</div>
